html,body {
   margin:0;
   padding:0;
   height:100%;
   font-family: 'Marcellus SC', serif;
   background-color: rgba(255, 252, 252, 0.49);
   color: black;
}
#body {
   padding-bottom:70px;
   font-family: Helvetica Neue;
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:70px;
   background: -webkit-linear-gradient(top, rgba(0, 191, 255, 1) 0%, rgba(11, 66, 138, 1) 100%);
   background: linear-gradient(to bottom, rgba(0, 191, 255, 1) 0%, rgba(11, 66, 138, 1) 100%);
   color:black;
}
#custom-bootstrap-menu{
    font-size: 14px;
    background: -webkit-linear-gradient(top, rgba(0, 191, 255, 1) 0%, rgba(11, 66, 138, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 191, 255, 1) 0%, rgba(11, 66, 138, 1) 100%);
    border-width: 1px;
    border-radius: 4px;
    border-color: black;
    font-family: 'Black Ops One', cursive;
    font-size: 15px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: black;
    font-family: 'Marcellus SC', serif;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover {
    color: white;
    font-family: 'Marcellus SC', serif;
}
#brand{
  color: black;
  font-size: 30px;
}
#brand:hover{
  color:white;
}
a, a:visited, a:hover{
  text-decoration: none;
  color: inherit;
}
#contact{
  margin-left: auto;
  margin-right: auto;
  align: center;
}
.raised{
  background-color: white;
  color: rgba(0, 191, 255, 1);
  margin-top: 10px;
}
.raised:hover{
  background-color: rgba(0, 191, 255, 1);
  color: black;
}
#foot{
  margin-top: 20px;
}
