body {
   font-family: 'Marcellus SC', serif;
   color:black;
   background-color: white;
}
/*Barra de navegacion*/
.navbar-default{
  font-size: 14px;
  background: -webkit-linear-gradient(top, rgba(0, 191, 255, 1) 0%, rgba(11, 66, 138, 1) 100%);
  background: linear-gradient(to bottom, rgba(0, 191, 255, 1) 0%, rgba(11, 66, 138, 1) 100%);
  border-width: 1px;
  border-radius: 4px;
  border-color: black;
  font-family: 'Alfa Slab One', cursive;
  font-size: 15px;
  height: 50px;
}
.navbar-default .navbar-nav>li>a {
  color: black;
  font-family: 'Marcellus SC', serif;
}
.navbar-default .navbar-nav>li>a:hover {
    color: white;
    font-family: 'Marcellus SC', serif;
}
#brand{
  color: black;
  font-size: 30px;
}
#brand:hover{
  color:white;
}
/*Textos*/
#inicio{
  height: 100vh;
  padding-top: 30vh;
  background-color: rgb(9, 10, 10);
  color: rgba(0, 191, 255, 1);
}
#explorar{
  border: 2px solid rgba(0, 191, 255, 1);
  color: rgba(0, 191, 255, 1);
  background-color: #0000;
  margin-top: 25vh;
  box-shadow: 0px 3px 0px 0px rgba(11, 66, 138, 1);
}
#explorar:active{
  transform: translate(0px, 3px);
  box-shadow: none;
}
#nombre{
  font-size: 100px;
}
.subtitulo{
  color: rgba(0, 191, 255, 1);
  font-size: 40px;
}
.descripcion{
  font-size: 20px;
  margin-right: 40px;
  margin-left: 40px;
}
/*Diferenciar links*/
a, a:visited, a:hover{
  text-decoration: none;
  color: rgba(0, 191, 255, 1);
}
/*Barra estilizada*/
hr{
  border-color: rgba(0, 191, 255, 1);
  height: 30px;
  border-style: solid;
  border-width: 2px 0 0 0;
  border-radius: 20px;
}
hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
/*Lista*/
li{
  list-style-type: none;
  margin-top: 10px;
}
/*Galeria de proyectos*/
#galeria{
   margin-left: auto;
   margin-right: auto;
   width: 95%;
}
div.img {
   margin: 3px;
   border: 1px solid #ccc;
   width: 300px;
}
div.img:hover {
   border: 1px solid black;
   font-weight: bold;
}
div.img img {
   width: 100%;
   height: auto;
}
div.desc {
   padding: 25px;
   text-align: center;
   background-color: rgba(0, 191, 255, 1)
}
/*Forma de contacto*/
#enter{
  border: 2px solid black;
  color: black;
  background-color: rgba(0, 191, 255, 1);
  box-shadow: 0px 3px 0px 0px rgba(11, 66, 138, 1);
}
#enter:active{
  transform: translate(0px, 3px);
  box-shadow: none;
}
form{
  display: block;
  width: 60%;
  margin-left: 20vw;
}
/*Pie de pagina*/
#bottom{
  margin-left: auto;
  margin-right: auto;
}
#footer {
   margin-top: 20px;
   height:70px;
   background: -webkit-linear-gradient(top, rgba(0, 191, 255, 1) 0%, rgba(11, 66, 138, 1) 100%);
   background: linear-gradient(to bottom, rgba(0, 191, 255, 1) 0%, rgba(11, 66, 138, 1) 100%);
   color:black;
   font-size: 15px;
}
.raised{
  background-color: white;
  color: rgba(0, 191, 255, 1);
  margin-top: 10px;
}
.raised:hover{
  background-color: rgba(0, 191, 255, 1);
  color: black;
}
